.menu {
  display: initial !important;
  justify-content: initial !important;
  align-items: initial !important;
  width: 100%;
  height: 100%;
  position: initial !important;
  top: initial !important;
  left: initial !important;
}


.home-page > canvas {
  width: 100% !important;
}

.home-page > span {
  display: none !important;
}

.home-page > canvas {
  width: 100% !important;
}
